.home-image-text {
    width: 100%;
    max-width: $layout-max-width;
    margin: 130px auto 0 auto;

    @media screen and ( max-width: 870px ) {
        margin: 0 auto;
    }

    &__content-wrapper {
        width: 95%;
        margin: $auto;
        display: flex;
        justify-content: space-around;

        @media screen and ( max-width: 870px ) {
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    &__content {
        margin-top: 50px;

        p {
            @include base-text;
            width: 80%;
            margin-bottom: 25px;

            @media screen and ( max-width: 1300px ) {
                margin-left: 0;
                width: 95%;
            }

            @media screen and ( max-width: 870px ) {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__image {

        img {
            width: 520px;
            height: auto;

            @media screen and ( max-width: 1000px ) {
                margin-top: 100px;
            }

            @media screen and ( max-width: 870px ) {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and ( max-width: 585px ) {
                width: 300px;
            }
        }
    }
}