.main-footer {
    margin: 130px auto 29px auto;

    @media screen and ( max-width: 450px ) {
        margin: 50px auto 40px auto;
    }

    &__logo {
        position: relative;
        width: 100%;
        max-width: $layout-max-width;
        margin: $auto;

        img  {
            display: block;
            width: 200px;
            height: auto;
            margin: $auto;            
        }
    }

    &__main-name {
        margin-top: 40px;
        text-align: center;
        display: block;
        font-family: "Hammersmith One", sans-serif;
        font-size: 2em;
    }

    &__disclaimer {
        display: block;
        text-align: center;
        font-size: 14px;
        color: $grey;
        margin-top: 12px;

        @media screen and ( max-width: 450px ) {
            width: 70%;
            margin-right: auto;
            margin-left: auto;
        }
    }
}