.section-title {
    width: 100%;
    padding: 35px 0;

    h1, h2, h3, h4, h5, h6 {
        margin-left: 40px;
        font-weight: bold;
    }

    h1 {
        font-size: $h1;

        @media all and ( max-width: 650px ) {
            font-size: calc($h1 / 2);
        }
    }

    h2 {
        font-size: $h2;

        @media all and ( max-width: 650px ) {
            font-size: calc($h2 / 2);
        }
    }

    h3 {
        font-size: $h3;

        @media all and ( max-width: 650px ) {
            font-size: calc($h3 / 2);
        }
    }

    h4 {
        font-size: $h4;

        @media all and ( max-width: 650px ) {
            font-size: calc($h4 / 2);
        }
    }

    h5 {
        font-size: $h5;

        @media all and ( max-width: 650px ) {
            font-size: calc($h5 / 2);
        }
    }

    h6 {
        font-size: $h6;

        @media all and ( max-width: 650px ) {
            font-size: calc($h6 / 2);
        }
    }
}