// main layout
$layout-max-width: 1450px;
$margin-vertical: 2.5em;
$margin-horizontal: 2em;
$auto: 0 auto;
$center-width: 90%;

// section title values.
$h1: 5em;
$h2: 4em;
$h3: 3.5em;
$h4: 3em;
$h5: 2.5em;
$h6: 2em;

// text.
$base-line-height: 1.45em;

// colours
$black : #000000;
$white : #ffffff;
$grey : #808080;
$light-grey : #f8f8f8;
$main-red: #b22929;
$light-red: #ffbdbd;